<div>
  <mat-form-field class="example-full-width col-12 col-md-12 margin">
    <mat-label>Name</mat-label>
    <input
    matInput
    placeholder="Press enter for search"
    name="name"
    #searchBy
    autocomplete="off"
    [(ngModel)]="searchInput"
    (keyup)="search()">
  </mat-form-field>
  <div class="row m-lg-1" *ngIf="page$ | async as pag; else loading">
    <table mat-table [dataSource]="pag.content" class="mat-elevation-z8 col-12">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let e"> {{e.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let e"> {{e.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let e"> {{e.email}} </td>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let e"> {{e.cpf}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/students/{{row.id}}"></tr>
    </table>
    <mat-paginator
    [length]="pag.totalElements"
    [pageSize]="pag.size"
    [pageIndex]="pag.number"
    [pageSizeOptions]="[6, 12, 24, 96]"
    (page)="handlerPage()"
    #paginator
    class="col-12 mat-elevation-z8">
</mat-paginator>
  </div>
  <ng-template #loading>
    <div class="row justify-content-center mt-5">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
